# Python
__pycache__/
*.py[cod]
*$py.class
.Python
*.so

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Ambientes
.env
.venv
env/
venv/
ENV/

# Sistema operacional
.DS_Store
Thumbs.db